@import '../src/variables.scss';

#Dashboard-Container {
    h1 {
        margin-top: 1em;
    }

    h2 {
        color: $green;
    }

    .truncate {
        width: 22em;
        overflow: auto;
      }
}