button.MuiButtonBase-root.MuiButton-root.MuiButton-text.active-item.MuiButton-textSizeLarge.MuiButton-sizeLarge{
    color: #556cd6;
    border-bottom: 2px solid #556cd6;
    border-radius: 0;
    margin-left: 0;
}
/*
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textSizeLarge.MuiButton-sizeLarge.Mui-disabled.Mui-disabled{
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 0;
    margin-left: 0;
}
*/