button.MuiButtonBase-root.MuiButton-root.MuiButton-text.active-item.MuiButton-textSizeLarge.MuiButton-sizeLarge{
    color: #66cc99;
    border-bottom: 2px solid #66cc99;
    border-radius: 0;
    margin-left: 0;
}
/*
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textSizeLarge.MuiButton-sizeLarge.Mui-disabled.Mui-disabled{
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 0;
    margin-left: 0;
}
*/

@media screen and (max-width: 768px) {
    #funnel-menu{
        span.MuiButton-label {
            font-size: 0.8em;
        }
    }
}

